<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delmond ♡</title>

    <!-- Bootstrap CSS Files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- FontAwesome 5 Pro CSS Files -->
    <link rel="stylesheet" href="assets/css/all.css">

    <!-- Owl Carousel CSS Files -->
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">

    <!-- FlagIcon CSS  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lipis/flag-icons@6.6.6/css/flag-icons.min.css" />

    <!-- Custom CSS Files -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">

</head>

<body>

    <div class="body-wrapper">

        <!-- Login Section -->
        <section class="pt-0 pb-0">
            <div class="container-fluid g-0">
                <div class="row g-0">
                    <div class="col-lg-6 col-md-12 col-sm-12 g-0">
                        <div class="signin_outer_shell">
                            <div class="container">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="">
                                            <div class="login_left_side_outer_div">
                                                <div class="mb-5">
                                                    <a href="">
                                                        <img src="assets/images/logo.png" alt="Logo">
                                                    </a>
                                                </div>
                                                <div class="">
                                                    <div class=" mb-5">
                                                        <h1 class="bold mb-3">Registrácia</h1>
                                                        <p class="text-muted">
                                                            Prihláste sa do svojho konta, môžete skontrolovať svoje objednávky alebo upraviť svoje údaje.
                                                        </p>    
                                                    </div>
                                                    <form class="login_form" action="">
                                                        <div class="mb-4">
                                                            <label for="" class="form-label mb-1">Meno</label>
                                                            <input type="text" class="form-control" id="" placeholder="Vaše meno">
                                                        </div>
                                                        <div class="mb-4">
                                                            <label for="" class="form-label mb-1">Priezvisko</label>
                                                            <input type="text" class="form-control" id="" placeholder="Vaše priezvisko">
                                                        </div>
                                                        <div class="mb-4">
                                                            <label for="" class="form-label mb-1">E-mail</label>
                                                            <input type="email" class="form-control" id="" placeholder="Váš e-mail">
                                                        </div>
                                                        <div class="mb-5">
                                                            <label for="" class="form-label mb-1">Heslo</label>
                                                            <input type="password" class="form-control" id="" placeholder="*******">
                                                        </div>
                                                        <div class="d-block d-lg-flex d-md-flex justify-content-between mb-5">
                                                            <div class="form-check">
                                                                <input class="form-check-input" type="checkbox" value="" id="Zapamätať">
                                                                <label class="form-check-label" for="Zapamätať">
                                                                    Chcem občas dostávať zľavy a užitočné tipy e-mailom koľvek zrušiť)
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="mb-4">
                                                            <button type="button" class="btn btn-pink w-100">
                                                                Prihlásiť sa <i class="far fa-angle-right"></i>
                                                            </button>
                                                        </div>
                                                        <div class="">
                                                            <p class="text-muted">
                                                                Nemáte účet?
                                                                <a class="bold" href="">
                                                                    <u>
                                                                        Prihláste sa
                                                                    </u>
                                                                </a>
                                                            </p>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="col-lg-6 d-none d-lg-block g-0">
                        <div class="login_side_image">
                            <img class="img-fluid" src="assets/images/register.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- Footer -->
        <footer id="main_footer">
            <section id="main_footer_section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="">
                                <a href="">
                                    <img src="assets/images/logo.png" alt="Logo">
                                </a>
                                <div class="">
                                    <ul class="d-flex">
                                        <li class="footer_social_icons fb">
                                            <a href="">
                                                <i class="fab fa-facebook-f text-white"></i>
                                            </a>
                                        </li>
                                        <li class="footer_social_icons go">
                                            <a href="">
                                                <i class="fab fa-google text-white"></i>
                                            </a>
                                        </li>
                                        <li class="footer_social_icons in">
                                            <a href="">
                                                <i class="fab fa-linkedin-in text-white"></i>
                                            </a>
                                        </li>
                                        <li class="footer_social_icons tw">
                                            <a href="">
                                                <i class="fab fa-twitter text-white"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="">
                                <h6 class="mb-3">Let Us Help You</h6>
                                <ul>
                                    <li>
                                        <a href="" class="custom-dark-text">
                                            Your Account
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="custom-dark-text">
                                            Your Orders
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="custom-dark-text">
                                            Return and damage policy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="" class="custom-dark-text">
                                            Shipping
                                        </a>
                                    </li>
                                    <li>
                                        <a href="textova.html" class="custom-dark-text">
                                            Text Ova
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="">
                                <h6 class="mb-3">Make Money</h6>
                                <ul>
                                    <li>
                                        <a href="" class="custom-dark-text">
                                            Sell on Cart
                                        </a>
                                    </li>
                                    <li>
                                        <a href="signin.html" class="custom-dark-text">
                                            Login
                                        </a>
                                    </li>
                                    <li>
                                        <a href="register.html" class="custom-dark-text">
                                            Register
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog.html" class="custom-dark-text">
                                            Blogs
                                        </a>
                                    </li>
                                    <li>
                                        <a href="faq.html" class="custom-dark-text">
                                            FAQ
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="footer_copyright" class="p-0 bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-dark text-center">
                                <p class="copyright">
                                    2022 Woowie, All rights reserved.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>

    </div>


    <!-- Jquery File -->
    <script src="assets/js/jquery.min.js"></script>
    <!-- Bootstrap Js Flies -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
        integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
        crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <!-- Owl Carousel Js Files -->
    <script src="assets/js/owl.carousel.min.js"></script>



    <script>
        function cartToogle() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
    </script>

    <!-- Image Gallery -->
    <script src="assets/js/img_gallery/swiper.min.js"></script>
    <script src="assets/js/img_gallery/easyzoom.js"></script>
    <script src="assets/js/img_gallery/main.js"></script>


</body>

</html>