:root{
    --pink: #FF1478;
    --orange: #FE8C31;
    --dark-orange: #FE6346;
    --dark: #252525;
    --green: #1DD693;
    --green-light: #ECFDF5;
    --white: #fff;
    --black: #000;
    --dark-text: #727272;
    --text-light: #9B9B9B;
    --light-background: #F9F9F9;
    --star-color: #FF932F;
    --seconday-btn-color: #F3F3F3;
}
